.about-us{
  &__row{
    display: flex;
    max-width: 852px;
    margin: 0 auto;
  }
  &__img{
    @include borderPhoto(0)
  }
  &__text{
    @include fontRegular;
    font-size: 14px;
    line-height: 1.3;
    color: #181919;
    margin-left: 35px;
  }

}
