html
    head
        link(rel="stylesheet" type="text/css" href='/css/style.min.css')
    body
        .flex
            - let test = false
                if test
                    p Йоу
                else
                    p Не йоу
        ul.flex-container
            li text
            li text
            li text
            li text
            li text
            li text
        img(src="images/test/123.jpg" alt="text")

        script(type="text/javascript" src="js/bundle.min.js")