doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title text
        link(rel="stylesheet" href="css/style.min.css")
    body
        .wrapper
            main.landing
                .landing__top
                    .landing__logo
                        img(src="img/top.webp")
                        .landing__logo-text Недвижимость
                    .landing__top-title Дом вашей мечты
                    .landing__top-text Дом там, где сердце. Мы поможем вам и вашей компании найти место, где вы будете чувствовать себя дома. Покупка или продажа — мы то, что вам нужно. Дом там, где сердце. Мы поможем вам и вашей компании найти место, где вы будете чувствовать себя дома.
                nav.landing__nav
                    a(id="main").landing__link.landing__link--active Главная
                    a(id="about").landing__link О нас
                    a(id="usligi").landing__link Услуги
                    a(id="contacts").landing__link Контакты
                .landing__content.landing__content--active.landing__content--opacity 1
                .landing__content 2
                .landing__content 3
                .landing__content 4



    script(type="text/javascript" src="js/script.js")