/*@import "valentine.scss";*/

*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
$slate:#445161;

.box{
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}
.message{
  transition:.5s linear;
  opacity: 0;
  height: 150px;
  background-color: deeppink;
  border-radius: 2px;
  order: 1;
}
.message__text{
  position: relative;
  top: 40%;
}
.button{
  order: 2;
}

body{
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
}
.wrapper{
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}
.content{
  flex: 1 1 auto;
}
.hi{
  background-color: #445162;
  padding: 50px 0;
  &__row{
    display: flex;
    justify-content: space-between;

  }
  &__body{
    color: #fff;
    padding: 0 30px 0 0;
  }
  &__title{
    font-size: 60px;
    margin: 0 0 38px 0;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  }
  &__list{}
}
.hi__list .hi__item{
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 22px;
  margin: 0 0 15px 0;
  padding: 0 0 0 36px;
}
.hi__list .hi__item:last-child{
  margin: 0;
}
.what{
  padding: 50px 0;
  &__row{
    display: flex;
  }
  &__img{
    flex: 0 0 430px;
  }
  &__img img{
    max-width: 100%;
  }
  &__body{
    flex: 1 1 auto;
    padding: 0 0 0 38px;
  }
  &__title{
    font-size: 30px;
    color: #445161;
    margin: 0 0 33px 0;
  }
  &__text{

  }
  &__text p{
    margin: 0 0 25px 0;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
  }
}
.columns{
  background-color: #f5f5f5;
  padding: 50px 0 20px 0;
  &__title{
    text-align: center;
    margin: 0 0 30px 0;
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px;
  }
  &__column{
    flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 0 8px;
  }
}
.item{
  &__row{
    display: flex;
  }
  &__title{
    font-size: 24px;
    line-height: 1.25;
    color: $slate;
    margin-bottom: 15px;
  }
  &__body{
    flex: 1 1 auto;
    padding: 0 0 0 15px;
  }
  &__text{
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    margin: 0 0 13px 0;
  }
  &__img{
    flex: 0 0 200px;
  }
}
.title{
  color: #445161;
  font-size: 30px;
  line-height: 36px;
}
.vertical{
  padding: 50px 0;
  &__title{
    margin: 0 0 30px 0;
    text-align: center;
  }
  &__body{
    max-width: 990px;
    margin: 0 auto;
  }
  &__row{
    display: flex;
    margin: 0px -22.5px;
  }
  &__item{
    background-color: #445162;
    padding: 0 0 20px 0;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #445162;
    display: flex;
    flex-direction: column;
  }
  &__column{
    flex: 0 1 33.333%;
    padding: 0 22.5px;
    display: flex;
  }
  &__sub-title{
    text-align: center;
    font-size: 24px;
    padding: 12px 0;
    text-transform: uppercase;
    line-height: 1.25;
  }
  &__label{
    text-align: center;
    font-size: 40px;
    line-height: 0.75;
    padding: 15px 0;
    border: #fff solid 2px;
    background-color: white;
    color: #445162;
  }
  &__text{
    font-size: 14px;
    padding: 20px;
    line-height: 24px;
    flex: 1 1 auto;
  }
  &__text p{
    margin: 0 0 15px 0;
  }
  &__text p:last-child{
    margin: 0;
  }
  &__button{
    display: block;
    margin: 0 20px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    border-radius: 5px;
    color: $slate;
    background-color: white;
  }
}
.footer{
  background-color: #f5f5f5;
  &__row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
  }
  &__text{
    font-size: 12px;
    color: #445162;
    letter-spacing: 0.3px;
  }
}




